@import "../mixins.scss";

.footer{
    height: 79px;
    width: 100%;
    border-top: 1px solid #636262;
    position: absolute;
    bottom: 0;
    left: 150px;
    right: 0;
    display: flex;
    align-items: center;

    @include lessmd{
        left: 0;
    }

    .title{
        font-size: 16px;
        font-weight: 400;
        color: var(--color);
        margin-left: 134px;
    }
}